src/ANXGallery/build/
src/ANXExtraPhoto/build/
src/ANXExtraGalleryMagisk/system/priv-app/ANXGallery/ANXGallery.apk
src/ANXExtraGalleryMagisk/system/priv-app/ANXExtraPhoto/ANXExtraPhoto.apk
.idea
out/
